name: docs

# From: https://github.com/JuliaDocs/Documenter.jl/blob/master/.github/workflows/CI.yml
#     + https://discourse.julialang.org/t/easy-workflow-file-for-setting-up-github-actions-ci-for-your-julia-package/49765
on:
  push:
    branches:
      - testing
  pull_request:
    branches:
      - testing
jobs:
  docs:
    name: Documentation
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: julia-actions/setup-julia@v1
        with:
          version: "1.6.5"
      - name: Install dependencies
      - run: |
          julia --project=docs -e '
            using Pkg
            Pkg.develop(PackageSpec(path=pwd()))
            Pkg.instantiate()'
      - name: Test
      - run: |
          julia --project=docs -e '
            using Documenter: doctest
            using PortfolioOpt
            doctest(PortfolioOpt)'
      - name: Build and deploy
      - run: julia --project=docs/ docs/make.jl
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          DOCUMENTER_KEY: ${{ secrets.DOCUMENTER_KEY }}